{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Remote plugin for Craft CMS
 *
 * RemoteSync Utility Content
 *
 * @author    Good Work
 * @copyright Copyright (c) 2022 Good Work
 * @link      https://simplygoodwork.com
 * @package   Remote
 * @since     1.0.0
 */
#}

<h1>Remote Sync</h1>

<button id="remote-sync" class="btn submit">Queue Sync</button>
